<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    <form method="POST" action="/piglatinize">
      <input type="text" id="phrase" name='user_phrase'>
      <input id="Submit" type="submit">
    </form>
  </body>
</html>
