<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
    <p>Input text you want changed and then wait for the magic!</p>
    <textarea placeholder="Enter your phrase here:" name="phrase" cols=80 rows=6 ></textarea>
    <br>
    <button id='submit' type="submit" value="Submit">Submit</button>
  </form>
  </body>
</html>